{
    "token": "Your Token Here",
    "archiveChannel": "Your Channel ID Here",
    "archiveEmote": "📌",
    "overrideEmote": "📍",
    "confirmEmote": "✅",
    "overrideRole": "Your Role ID Here",
    "minReacts": 1
}
